.text_center {
    text-align: center;
  }
  
  .bg-brown {
    background-color: brown;
  
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .item-center {
  
    align-items: Center;
  }